<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\nlog-internal.log">

  <variable name="connectionString" value="Data Source=(local);Initial Catalog=MyFeedlyDatabase;Integrated Security=True" />

  <!-- define various log targets -->
  <targets>

    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="${basedir}\logs\${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}">
    </target>

    <!-- write log message to database -->
    <target xsi:type="Database" name="db">

      <!-- connection string -->
      <connectionString>${connectionString}</connectionString>

      <!-- parameters for the command -->
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />

      <!-- SQL command to be executed for each entry -->
      <commandText>insert into [dbo].[Nlogs](TimeStamp, Message, Level, Logger) values(getutcdate(), @msg, @level, @logger)</commandText>

    </target>

    <wrapper-target xsi:type="AsyncWrapper" name="asyncDatabase">
      <target-ref name="db"/>
    </wrapper-target>

    <compound-target xsi:type="SplitGroup" name="allOutputs">
      <target-ref name="file" />
      <target-ref name="asyncDatabase" />
    </compound-target>

  </targets>

  <!-- during normal execution only log Info messages -->
  <defaultFilter>level >= LogLevel.Info</defaultFilter>

  <!-- if there is at least one error, log everything from trace level -->
  <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allOutputs" />
  </rules>
</nlog>